.container {
  width: 45vw !important;
  display: flex;
  flex-direction: column;
  max-height:60vh;
  height: 60vh;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  position: absolute;
  top: 5rem;
  left: 30%;
  box-shadow:10px 10px 10px #929292;
  border: 15px;
}
.back{
    background: transparent linear-gradient(205deg, var(--unnamed-color-2c65c8) 0%, var(--unnamed-color-702cc8) 100%) 0% 0% no-repeat padding-box;
background: transparent linear-gradient(205deg, #2C65C8 0%, #702CC8 100%) 0% 0% no-repeat padding-box;
width: 100vw;
height: 50vh;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background: #f6f6f6 0% 0% no-repeat padding-box;
  border-radius: 27px 27px 0px 0px;
  opacity: 1;
}
.header p{
    color: #545454;
}
.table_body{
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-around;
    overflow: auto;
    max-height: 10rem;
    height: 10rem;
    padding-top:10rem ;
}
.user{
    width: 90%;
    border-bottom: 1px solid #F6F6F6;    
}
.user:hover{
    cursor: pointer;
    background-color: #e0dfdf;
}
.user_wrapper{
    display: flex;
    justify-content: space-between;
    width: 35%;
    align-items: center;
}
.user_wrapper p {
    width:75%;
    text-align: left;
}